#!/usr/bin/env xdg-open
[Desktop Entry]

Type=Application

Version=1.0

Name=tambi

Comment=A swiss army knife for studying the bible and much more
Path=/usr/bin/tambi
Exec=tambi
Icon=/usr/share/pixmaps/tambi.ico
Terminal=false
Categories=Education
